* {
  margin: 0;
  padding: 0;
}

html, 
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
}

// TYPOGRAPHY 




// SECTIONS

.header {
  text-align: center;
  padding-top: 30px;
}

.container {
  max-width: 50%;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.square {
  height: 50px;
  width: 50px;
  background: lightgray;
  display: inline-block;
  margin: 2px;
  border: 1px solid gray;
  cursor: pointer;
  position: relative;
  
}

.controls {
  text-align: center;
}

.display {
  margin-top: 20px;
  text-align: center;
  display: none;
}

.winner {
  color: tomato;
  font-size: 1.5em;
}

// ELEMENTS

.fa {
  line-height: $square;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 2em;
}


button {
  padding: 10px;
  background-color: gray;
  color: white;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}